$icon-list: "\f00d" "\f128" "\f00c";

.applicant-overview-container {
  margin-top: 30px;

  @each $icon in $icon-list {
    $i: (index($icon-list, $icon) - 1);
    .decision-#{$i}:before {
      font-family: "FontAwesome";
      content: $icon;
    }
  }
}

.search-applicant-container {
  margin: 25px 0 15px;
}

table tbody .applicant-table-row {
  cursor: pointer;

  &:hover {
    background: $gray-light-48;
  }

  td {
    padding: 12px 8px;
  }
}
