<p>Dear <%= @applicant.first_name %>,</p>

<p>Someone has requested a link to change your password. You can do this
through the link below.</p>

<a href='<%= "#{ENV['APP_URL']}/reset?token=#{@applicant.token}" %>'>Change my password</a>

<p>Your password won't change until you access the link above and create a new
one.</p>

<p>Regards,</p>
<p>The Berkeley Group</p>
