@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

// reused styles and layouts go here
* {
  box-sizing: border-box;
}

html, body {
  font-family: Lato, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  background: $gray-background;
  color: $gray-dark;
}

.main-container {
  padding-top: 75px;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  border-radius: 0;
}

input[type="text"],
input[type="password"] {
  @include appearance(none);
  border: 1px solid $gray-light;
  outline: none;
  padding: 7px;

  &:focus {
    border-color: $gray-dark-48;
  }
}

.button,
input[type="button"] {
  @include appearance(none);
  background: transparent;
  border: 1px solid $gray-dark-24;
  outline: none;
  padding: 7px 10px;

  &:hover {
    border-color: $gray-dark-48;
  }

  &.submit-button {
    background-color: $blue-84;
    border-color: $blue-84;
    color: $white;

    &:hover {
      background-color: $blue;
      border-color: $blue;
    }
  }
}

.button-small {
  @extend .button;
  padding: 4px 7px;
}

.input-container {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    min-width: 250px;
  }
}

.modal-dialog {
  margin-top: 100px;
}

.modal-content {
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  background: $gray-dark;
  border-bottom: none;
  padding-left: 20px;

  .modal-title {
    color: $white;
    margin-bottom: 0;
  }
}

.modal-body {
  padding: 25px 20px 15px 20px;
}

.modal-footer {
  border-top: 0;

  .button {
    margin-left: 15px;
  }
}

.overview-table tbody tr {
  &:hover {
    background: $gray-light-48;
  }
}

.navbar-inverse .navbar-brand {
    color: $white;
}

.navbar-inverse .navbar-nav > li > a {
    color: $white-84;
}
